body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  color: blue;
}

#documentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#documentList {
  width: 100%;
  max-width: 600px;
}

#documentDisplay {
  width: 100%;
  max-width: 600px;
}

/* Document list styles */
#documentItems {
  list-style: none;
  padding: 0;
}

#documentItems li {
  cursor: pointer;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  align-items: first baseline;
  justify-content: space-between;
}

#documentItems li:hover {
  background-color: #e0e0e0;
}

/* Document display styles */
/* #documentDisplay {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
} */

/* Button styles */
#editButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#deleteButton {
  background-color: #d21b06;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


#documentTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#documentContent {
  white-space: pre-wrap;
}

/* Add document form styles */
/* #addDocumentForm {
  margin-top: 20px;
}

#addDocumentForm div {
  margin-bottom: 10px;
}

#addDocumentForm label {
  font-weight: bold;
}

#addDocumentForm input[type="text"],
#addDocumentForm textarea {
  width: 100%;
  padding: 5px;
}

#addDocumentForm button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
} */

/* Login form styles */
#loginForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  margin-top: 50px;
}

#loginForm button{
  background-color: rgb(140, 140, 240);
}

#loginForm div {
  margin-bottom: 10px;
}

#loginForm label {
  font-weight: bold;
}

#editor {
  width: 80%;
  max-width: 600px;
  height: 14rem;
  margin-top: 4rem;
}

#saveBtn {
  margin-top: 10px;
}

#textResult {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  height: 14rem;
  max-width: 600px;
}


#documentItems li button{
  background-color: lightgreen;
  
}

#documentItems li button:hover{
  background-color: #067d06;
}